.container{
    width: 500px;
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 500px;

}
.popup{
    width: 400px;
    background-color: whitesmoke;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



.popup button{
    width: 80px;
    margin-top: 30px;
    padding: 10px 0px;
    background-color: #6fd649;
    color: #fff;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}